* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    margin-top: 150px;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    flex-direction: column;
    background-color: #8DC7DF;
}

button {
    font-family: "Poppins", sans-serif;
    outline: none;
    cursor: pointer;
}

h2 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

span {
    font-size: 80px;
    font-weight: 500;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#inpValue {
    width: 355px;
    height: 58px;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#addBtn {
    height: 58px;
    width: 55px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #0F9AED;
    font-weight: 500;
}

#checkboxINp{
    width: 20px;
    height: 20px;
}

#list {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list__card {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 12px;
    width: 425px;
    height: 55px;
}

.inpCheckP{
   text-decoration: line-through;
}

p{
    font-size: 20px;
    color:#53585D;
}

.btn_card{
    height: 55px;
    width: 65px;
    border: none;
    background-color: #FE0000;
    font-size: 18px;
    border-radius: 5px;
}